---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:book" class="w-5 h-5 inline-block align-text-bottom" /> Philosophy:</span
    > Restful Rites is designed to provide a comprehensive, user-friendly platform that addresses every aspect of funeral planning. From finding trusted service providers to managing personalized arrangements.
  </div>
</section>
