---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'RestfulRites',
  ignoreTitleTemplate: true,
};
---
<head>
  <style>
    @font-face {
      font-family: 'Roca One';
      src: url('/src/components/ui/fonts/RocaOne-Rg.woff2') format('woff2'),
           url('/src/components/ui/fonts/RocaOne-Rg.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Sign up',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Why us?', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <span class=" text-blue-500" style="font-family: Roca One;">Restful Rites </span><br><span class="hidden xl:inline text-4xl">Compassionate support, seamless arrangements.</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">In times of loss, let us guide you through with a digital solution that simplifies every step of the journey.</span> </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Why Restful Rites"
    subtitle="Because in moments of loss, you deserve care, simplicity, and understanding."
    items={[
      {
        title: 'Integrated Vendor Marketplace',
        description:
          'Explore and compare trusted service providers in one place, making the selection process simple and efficient.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Interactive Planning Dashboard',
        description:
          'Manage every aspect of funeral arrangements through a user-friendly dashboard tailored to your specific needs.',
        icon: 'tabler:dashboard',
      },
      {
        title: 'Cultural and Religious Customization',
        description:
          'Honor traditions and preferences with features designed to accommodate diverse cultural and religious practices.',
        icon: 'tabler:hierarchy',
      },
      {
        title: 'Seamless Coordination',
        description:
          'Simplify logistics with integrated scheduling and communication tools to ensure a stress-free experience.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Transparent Pricing',
        description:
          "Make informed decisions with clear, upfront pricing details for services and packages.",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Dedicated Support',
        description:
          'Receive guidance and assistance throughout the process from a team that truly understands your needs.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Insider"
    title="A Digital Solution for difficult moments"
    items={[
      {
        title: 'Built by Compassion',
        description:
          `Designed with your emotions in mind, offering compassionate support during life's difficult moments.`,
      },
      {
        title: 'Simplicity and Ease',
        description:
          'User centric design and intuitive features ensure a seamless experience for users of all backgrounds.',
      },
      {
        title: 'Evolving with You',
        description:
          'Continuously updated and improved to meet the changing needs of our users and the industry.',
      },
    ]}
    image={{
      src: 'https://media.discordapp.net/attachments/1097876386137513984/1315005251702489119/Polished_Wooden_Coffin_Surrounded_By_Red_Roses_And_Greenery_1.png?ex=6755d593&is=67548413&hm=37a86999ee24cf612ed28f4a8e6a16649c6d36b46e4aafa3703eb75cb507badf&=&format=webp&quality=lossless',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Making the Journey Easier</h3>
      Streamlining every decision with care and clarity, making your journey smoother and more manageable.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Flexible Design Choices',
        description: `Customize every detail to ensure the platform aligns perfectly with your needs and values.`,
      },
      {
        title: 'Secure and Private',
        description:
          'Ensuring the highest standards of security and privacy to protect your personal information and data.',
      },
      {
        title: 'Accessible Anywhere',
        description:
          'Designed to be accessible on any device, allowing you to plan and manage arrangements from anywhere.',
      },
      {
        title: 'Streamlined Coordination',
        description:
          'Simplify the process of managing multiple tasks and vendors in one cohesive platform, saving time and reducing stress.',
      },
    ]}
    image={{
      src: 'https://media.discordapp.net/attachments/1097876386137513984/1315002710239612990/Serene_Forest_Meditation_Scene_With_Reflective_Pool_1.png?ex=6755d335&is=675481b5&hm=23ef2674bc4501fd1ff8b1eb41fc2cb8bf811f6527e0c23066d59bff5ca64aee&=&format=webp&quality=lossless&width=1173&height=670',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensuring every detail reflects your needs with empathy and precision.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Modern Traditions',
        description:
          'Respecting the past while embracing the future, our platform bridges timeless customs with contemporary convenience.',
      },
      {
        title: 'Connected Experiences',
        description:
          'Foster collaboration and clarity with features that bring everyone together, whether near or far.',
      },
      {
        title: 'Unwavering Reliability',
        description:
          'Built to adapt to your needs, our platform ensures everything runs smoothly when it matters most.',
      },
      {
        title: 'Simplified Solutions',
        description: `We eliminate complexity, providing intuitive tools to help you plan and manage arrangements effortlessly.`,
      },
    ]}
    image={{
      src: 'https://media.discordapp.net/attachments/1097876386137513984/1315006930284187662/Serene_Autumn_Forest_Bathed_In_Dreamlike_Golden_Light_1.png?ex=6755d723&is=675485a3&hm=96a3b02df423eb93b76f04590191f26a261b7f035b586567b9de8686724857c7&=&format=webp&quality=lossless',
      alt: 'Golden Hour',
    }}
  >
    <Fragment slot="content">Empowering you with tools for seamless transitions.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Begin Your Journey with Restful Rites"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Explore Options</span>',
        description:
          "Browse through our thoughtfully crafted plans and services, designed to meet a variety of needs. Take your time to discover what feels right for you and your loved ones.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Personalize Your Experience</span>',
        description:
          "Customize every detail with ease. From selecting cultural and spiritual practices to choosing service providers, create a meaningful experience that aligns with your values and traditions.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Secure Your Plan</span>',
        description:
          `Complete the process with confidence. Our seamless and secure payment system ensures your peace of mind. Once confirmed, you'll receive a comprehensive guide to help you every step of the way.`,
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        description: 
          `Sit back and let us handle everything with care and precision. Restful Rites ensures a seamless and meaningful experience, allowing you to focus on what truly matters. Stay informed and in control by effortlessly tracking progress through our intuitive dashboard.`,
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://media.discordapp.net/attachments/1097876386137513984/1315011118279954483/Double_Exposure_Image_Featuring_Clock_And_Serene_Landscapes.png?ex=6755db0a&is=6754898a&hm=30215502b01c6d0319724578dff23196da5f7b0245bc911ba9693db7153d0a85&=&format=webp&quality=lossless',
      alt: 'Steps image',
    }}
  />

   <!-- Features2 Widget ************** -->

   <Features2
   title="What services do we provide?"
   subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
   items={[
     {
       title: 'Installation Instructions',
       description:
         'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
       icon: 'flat-color-icons:document',
     },
     {
       title: 'Demo and Previews',
       description:
         'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
       icon: 'flat-color-icons:template',
     },
     {
       title: 'Technical Support',
       description:
         'Providing customer support for any technical issues related to the templates or their implementation.',
       icon: 'flat-color-icons:voice-presentation',
     },
   ]}
 >
   <Fragment slot="bg">
     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
   </Fragment>
 </Features2>

    <!-- Brands Widget ****************** -->

    <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },
 
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />
 

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />
  <!-- Features3 Widget ************** -->

  <Features3
  
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />
</Layout>
